/*background rgb(25,26,33)
rgb(145,131,138)
plus clair rgb(142,131,199)*/
@font-face { 	font-family: "Dust West"; 	src: url('Dust-West.ttf'); }
@font-face { 	font-family: "OpenSans-Regular"; 	src: url('OpenSans-Regular.ttf'); }

button:hover 
{
	background: linear-gradient(rgb(71,75,80),rgb(145,131,138));
}


/* Responsive pour téléphone (taille inférieure à 480px) */

@media all and (max-device-width: 480px)
{
    button
	{
		width: 100%;
		height: 100%;
		border: none;
		background-color: transparent;
		color: rgb(142,131,199);
		font-size: 1.3em;
	}

	li
	{
		width: 25%;
		height: 100%;
		text-align: center;
	}

	a:link
	{
		text-decoration: none;
		color: rgb(142,131,199);

	}	
		
	a
	{
		color: rgb(142,131,199);
		font-size: 1.2em;

	}	

	p
	{
		margin : 0.2em;
		font-size : 1em;
		font-weight : 500;
		line-height: 1.5;
		font-family: "OpenSans-Regular";
	}

	h2
	{
		font-size: 2.6em;
		text-align: center;
		color: rgb(90,0,3);
		font-family: "Dust West";
	}

	body
	{
		margin: 0;
		background: url("background Bloody Trail.png") no-repeat center center fixed;
		background-size: cover;
	}

	div
	{
		min-height: 1em;
	}

	table
	{
		padding: 5%;
	}
	section
	{
		/*background-color: rgba(25,26,33,0.6);*/
		
		border-color: black;
		border-radius: 0.1em;

		margin: auto;
		max-width: 60%;
		align-self: center;
	}

	th
	{
		text-align: left;
		font-size: 1.7em;
	}

	td
	{
		text-align: left;
		padding-top: 5%;
		font-size: 1.5em;
	}

	caption
	{
		height: 4em;
		font-size: 1.5em;
	}




	.centerLogo
	{
		width: 33%;
		height: 33%;
		display: block;
		margin-left: 40%;
	}

	.tabDates
	{
		width:100%;
		height:100%;
	}








	/*HEADER*/

	header
	{
		
		height : 5em;
		background-color: rgb(108,0,3);
		color: rgb(240,221,220);
		border: 0.1em rgb(108,0,3) solid;
		top: 0px;
		width: 100%;
	}
	
	.headerButton
	{
		text-align: center;
		font-family: "Dust West";
		font-size: 2.4em;
		height: 100%;
		color: rgb(240,221,220);
	}

	#listeHeader
	{
		list-style-type: none;
		padding: 0;
		height: 80%;
		display: flex;
		/*justify-content: space-around;*/
		color: rgb(240,221,220);
	}







	h2
	{
		font-size: 3em;
		text-align: center;
		color: rgb(90,0,3);
		font-family: "Dust West";
	}

	footer
	{
		background-color: rgb(108,0,3);
		color: rgb(220,220,220);
	}
	
	#listeFooter
	{
		display: none;
	}

	#listeFooter2
	{
		list-style-type: none;
		width: 100%;
		
		padding: 0;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}






	/*ORGANISATION BODY*/
	#section1
	{

		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;
		width: 100%;
		

	}
	
	.espace
	{
		min-height: 5em;
	}
	
	#TsansFond
	{
		color : rgb(240,221,197);
	}

	.tabDates
	{
		width:100%;
		height:100%;
	}



	/*ACCEUIL (index)*/

	#cover
	{
		margin : 0;
		border-color: black;
		border-radius: auto;
		align-self: center;
		margin: auto;
		/*height: auto;*/
	}
	#secImg
	{
		min-height: 53em;
		background: url("Bloody trail menu.png") no-repeat center fixed;
		background-size: cover;
	}
	.para
	{
		width : 49%;
		font-size: 2em;
	}
	#section2
	{
		display : flex;
		min-width: 80%;
		background: linear-gradient(rgba(150,80,80,1),rgba(145,131,138,0));
	}

	#blindtown
	{
		float: right;
	}
	
	#duSang
	{
		float: left;
		height: 50%;
		width: 18%;
	}


	/*A PROPOS DE NOUS*/

	.equipe
	{

		display: flex;
		align-self: center;
		font-size: 1.2em;
	}
	.texteEquipe
	{
		border-radius: 0.2em;
		margin: auto;
		max-width: 60%;
		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;
	}
	.texteEquipe2
	{
		border-radius: 0.2em	;
		margin: auto;
		max-width: 60%;
		background: linear-gradient(rgba(255,204,139,1),rgba(240,221,197,1));
		justify-content: center;
	}

	header
	{
		height : 5em;
		background-color: rgb(108,0,3);
		color: rgb(240,221,220);
		border: 10 px rgb(108,0,3) solid;
		box-shadow: 0px -10px 6px rgb(108,0,3);
		position: fixed;
		top: 0px;
		width: 100%;
	}

	.headerButton
	{
		text-align: center;
		font-family: "Dust West";
		font-size: 2.4em;
		text-shadow: 2px 2px 4px black;
		height: 100%;
		color: rgb(240,221,220);
	}

	#listeHeader
	{
		list-style-type: none;
		padding: 0;
		height: 80%;
		display: flex;
		/*justify-content: space-around;*/
		color: rgb(240,221,220);
	}

	.liFootHead
	{
		width: 25%;
		height: 100%;
		text-align: center;
	}

	#teteLogo
	{
		max-height: 100%
	}




	/*WIKI*/

	#sectionTable
	{
		margin-top: 5%;
		margin-bottom: 5%;
		height : 100%;
		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;
	}

}








































@media all and (min-device-width: 480px)
{
	button
	{
		width: 100%;
		height: 100%;
		border: none;
		background-color: transparent;
		color: rgb(142,131,199);
		font-size: 1.3em;

	}

	li
	{
		width: 25%;
		height: 100%;
		text-align: center;
	}

	a:link
	{
		text-decoration: none;
		color: rgb(142,131,199);

	}

	a
	{
		color: rgb(142,131,199);
		font-size: 1.2em;
	}
	p
	{
		margin : 30px;
		font-size : 1.3em;
		font-weight : 500;
		line-height: 1.5;
		font-family: "OpenSans-Regular";
	}

	h2
	{
		font-size: 2.6em;
		text-align: center;
		color: rgb(90,0,3);
		font-family: "Dust West";
	}

	body
	{
		margin: 0;
		background: url("background Bloody Trail.png") no-repeat center center fixed;
		background-size: cover;
	}

	div
	{
		min-height: 1em;
	}

	table
	{
		padding: 5%;

	}	
	section
	{
		/*background-color: rgba(25,26,33,0.6);*/
		
		border-color: black;
		border-radius: 20px;

		margin: auto;
		max-width: 1200px;
		align-self: center;
	}	
		
	th
	{
		text-align: left;
	}

	td
	{
		text-align: left;
		padding-top: 5%;
	}

	caption
	{
		height: 4em;
		font-size: 1.5em;
	}




	.centerLogo
	{
		width: 18%;
		height: 18%;
		display: block;
		margin-left: 40%;
	}

	.tabDates
	{
		width:100%;
		height:100%;
	}

	.logoIUT
	{
		margin: 10px;
	}








	/*HEADER*/

	header
	{
		
		height : 5em;
		background-color: rgb(108,0,3);
		color: rgb(240,221,220);
		border: 10 px rgb(108,0,3) solid;
		box-shadow: 0px -10px 6px rgb(108,0,3);
		position: fixed;
		top: 0px;
		width: 100%;
	}
	.headerButton
	{
		text-align: center;
		font-family: "Dust West";
		font-size: 2.4em;
		text-shadow: 2px 2px 4px black;
		height: 100%;
		color: rgb(240,221,220);
	}
	#listeHeader
	{
		list-style-type: none;
		padding: 0;
		height: 80%;
		display: flex;
		/*justify-content: space-around;*/
		color: rgb(240,221,220);
	}


	


	/*FOOTER*/



	footer
	{
		background-color: rgb(108,0,3);
		color: rgb(220,220,220);

	}	
	#listeFooter
	{
		list-style-type: none;
		padding: 0;
		height: 100%;
		display: flex;
		justify-content: space-around;
	}

	#listeFooter2
	{
		margin-left: 12.5%;
		width: 75%;
		list-style-type: none;
		padding: 0;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}






	/*ORGANISATION BODY*/
	#section1
	{

		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;

	}	
	.espace
	{
		min-height: 5em;
	}
	#TsansFond
	{
		color : rgb(240,221,197);
		text-shadow: 4px 4px 4px black;
	}






	/*ACCEUIL (index)*/

	#cover
	{
		margin : 0;
		border-color: black;
		border-radius: 20px;
		align-self: center;
		margin: auto;
		/*height: auto;*/
	}
	#secImg
	{
		min-height: 53em;
		background: url("Bloody trail menu.png") no-repeat center fixed;
		background-size: cover;
	}
	.para
	{
		width : 49%;
	}
	#section2
	{
		display : flex;
		min-width: 80%;
		background: linear-gradient(rgba(150,80,80,1),rgba(145,131,138,0));
	}
	#blindtown
	{
		float: right;
	}
	#duSang
	{
		float: left;
		height: 658px;
		width: 130px;
	}








	/*A PROPOS DE NOUS*/

	.equipe
	{
		display: flex;
		align-self: center;
	}
	.texteEquipe
	{
		border-radius: 20px;
		margin: auto;
		max-width: 60%;
		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;
	}
	.texteEquipe2
	{
		border-radius: 20px;
		margin: auto;
		max-width: 60%;
		background: linear-gradient(rgba(255,204,139,1),rgba(240,221,197,1));
		justify-content: center;
	}



	header
	{
		height : 5em;
		background-color: rgb(108,0,3);
		color: rgb(240,221,220);
		border: 10 px rgb(108,0,3) solid;
		box-shadow: 0px -10px 6px rgb(108,0,3);
		position: fixed;
		top: 0px;
		width: 100%;
	}

	.headerButton
	{
		text-align: center;
		font-family: "Dust West";
		font-size: 2.4em;
		text-shadow: 2px 2px 4px black;
		height: 100%;
		color: rgb(240,221,220);
	}

	#listeHeader
	{
		list-style-type: none;
		padding: 0;
		height: 80%;
		display: flex;
		/*justify-content: space-around;*/
		color: rgb(240,221,220);
	}

	.liFootHead
	{
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#teteLogo
	{
		max-height: 100%
	}


	/*WIKI*/

	#sectionTable
	{
		margin-top: 5%;
		margin-bottom: 5%;
		height : 100%;
		background: linear-gradient(rgba(240,221,197,1),rgba(255,204,139,1));
		justify-content: center;
	}
}